@use './base.scss' as *;

body {
  margin: 0;
  font-family: PingFangSC-Regular, sans-serif;
}

.el-table-v2 {
  color: var(--el-table-text-color);

  $header-color: rgb(234, 238, 246);
  .el-table-v2__header {
    background-color: $header-color;
  }
  .el-table-v2__header-cell {
    background-color: $header-color;
  }
}

::-webkit-scrollbar {
  width: 5px;
  // height: 8px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d7d7d7;
  border: none;
}
