$primary-color: rgb(109, 110, 230);

$header-height: 65px;
$sidebar-width: 185px;
$page-gap: 5px;

// $sidebar-color: rgb(32, 33, 70);
$sidebar-color: #212146;
//$sidebar-color: #70a074;
$sidebar-hover-color: #486eff;
